<!DOCTYPE html>
<html>
  <head>
    <title> Notes | {{title}} </title>
    <link href="https://cdn.emilianomaccaferri.com/notes/css/panel.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/storage.js" type="text/javascript"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/panel.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    console.log(`
    < Hey, sei loggato! >
     ----------------------------------------
            \\   ^__^
             \\  (oo)\\_______
                (__)\\       )\\/\\
                    ||----w |`);

    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar">
      <ul>
        <!-- will be dropdowns -->
        <a href="/"><li> <i class="fas fa-home"></i> </li></a>
        <a href="/newClass"><li> <i class="fas fa-graduation-cap"></i> </li></a>
        <a href="/classes"><li> <i class="fas fa-users"></i> </li></a>
        <a href="/newFile"><li> <i class="far fa-plus-square"></i> </li></a>                                
      </ul>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
